{$DOMAIN} {
	tls {$ACME_EMAIL}

	encode zstd gzip

	header Strict-Transport-Security "max-age=31536000; includeSubDomains"

	reverse_proxy server:{$PORT:8080} {
		transport http {
			read_timeout 0
		}
		flush_interval -1
	}

	log {
		output stdout
		format json
	}
}
